body, html{
    margin: 10px 0 0 0;
    padding: 0px;
    text-align: center;
}

hr{
    width: 85%;
}
.title{
    font-size: 30px;
    margin-bottom: 20px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    margin: auto;
    width: 700px;
    padding: 0 0 30px 0;
}

.certificate img{
    width: 350px;
}

.certificate{
    margin: auto;
    margin-top: 20px;
    width: 400px;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}
.certificate:nth-child(1){
    box-shadow: 2px 2px 5px #FF6363;
    border-color: #FF6363;
    }
    
    .certificate:nth-child(2){
    box-shadow: 2px 2px 5px #7579E7;
    border-color: #7579E7;
    }
    
    .certificate:nth-child(3){
    box-shadow: 2px 2px 5px #95CD41;
    border-color: #95CD41;
    } 